/* CSS files add styling rules to your content */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 100px;
}

.landing {
  position: relative;
  min-height: 100vh;
  background: url("https://cdn.glitch.com/f7a66cff-53ab-46a0-8393-24c2f614c87f%2Fpexels-dids-2911527.jpg?v=1607936317219");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 300;
  line-weight: 1.5em;
}

.landing h2 span {
  font-size: 3em;
  font-weight: 700;
}

.landing h3 {
  font-size: 2em;
  color: #fff;
  font-weight: 500;
}

.btn {
  position: relative;
  background: #FFEF5B;
  display: inline-block;
  color: #111;
  margin-top: 10px;
  padding: 14px 28px;
  border-radius: 32px solid;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  font-weight: 1000;
  font-style: bold;
  transition-duration: 0.5s;
  cursor: pointer;
  list-font-style: none;
}

.btn:hover {
  background-color: #e7e7e7;
  color: #111;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #fff;
  padding: 20px 72px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: left;
  margin: 0 30px;
}

header.sticky .logo {
  color: #111;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 18px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition-duration: 0.5s;
}

header.sticky ul li a {
  color: #111;
}

.glow {
  font-size: 80px;
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  animation-duration: 2s;
}

.glow1 {
  font-size: 30px;
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  animation-duration: 4s;
}

@-webkit-keyframes glow1 {
  from {
    text-shadow: 0 0 10px #111, 0 0 20px #111, 0 0 30px #48DCFF,
      0 0 40px #e60073, 0 0 50px #111, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 30px #111, 0 0 40px #48DCFF, 0 0 50px #ff4da6,
      0 0 60px ##48DCFF, 0 0 70px #ff4da6, 0 0 80px #48DCFF, 0 0 90px #ff4da6;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #48DCFF,
      0 0 40px #e60073, 0 0 50px #48DCFF, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 30px #fff, 0 0 40px #48DCFF, 0 0 50px #ff4da6,
      0 0 60px ##48DCFF, 0 0 70px #ff4da6, 0 0 80px #48DCFF, 0 0 90px #ff4da6;
  }
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}

.heading h2 {
  font-weight: 600;
  font-size: 45px;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.content {
  display: flex;
  justidy-content: space-between;
}

.contenthd {
  padding-right: 22px;
}

.contenthd h3 {
  font-size: 24px;
  margin-bottom: 8px;
}

.responsive {
  width: 80%;
  height: auto;
}

.services {
  background: #111;
}
.heading.white {
  color: #fff;
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.services .content .servicesHd {
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.services .content .servicesHd-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.services.content .servicesHd : hover .services .content .servicesHd-inner {
  transform: rotateX(180deg);
}

.services .content .servicesHd-front,
.services .content .servicesHd-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

..services .content .servicesHd-front {
  background-color: #bbb;
  color: black;
}

..services .content .servicesHd-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateX(180deg);
}

li {
  list-style: none;
}

.services .content .servicesHd:hover {
  background: #2196f3;
}

.services .content .servicesHd img {
  max-width: 80px;
  filter: invert(1);
}

.services .content .servicesHd h2 {
  font-size: 20px;
  font-weight: 600;
}

/*art works*/

.work .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work .content .workHd {
  width: 50%;
  padding: 20px;
}

.work .content .workHd img {
  max-width: 100%;
}

/*testimonials~*/

.testimonial {
  background: #f7f7f7;
}

.testimonial .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.testimonial .content .testimonialHd {
  min-width: 100%;
  padding: 60px 40px;
  background: #2196f3;
  align: center;
}

.testimonial .content .testimonialHd {
  max-width: calc(50% - 40px);
  padding: 60px 32px;
  background: #2196f3;
  margin-bottom: 20px;
  margin-top: 10px;
}

.testimonial .content .testimonialHd p {
  color: #fff;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}

.testimonial .content .testimonialHd h3 {
  margin-top: 40px;
  text-align: end;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1em;
}

.testimonial .content .testimonialHd h3 span {
  font-size: 14px;
  font-weight: 400;
}

/*footer page*/

.contact {
  background: #111;
}

.formfill {
  min-width: 60%;
}

.formfill form {
  display: flex;
  flex-direction: column;
}

.formfill form h3,
.contactInfo h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.formfill form input,
.formfill form textarea {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
  resize: none;
}

.formfill form textarea {
  min-height: 200px;
}

.formfill form input::placeholder,
.formfill form textarea::placeholder {
  color: #999;
}

.formfill form input[type="submit"] {
  max-width: 100px;
  background: #2196f3;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contactInfo {
  min-width: 40%;
  color: #fff;
}

.contactInfoBx {
  position: relative;
}

.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}

.contactInfoBx .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.contactInfoBx .box .text h3 {
  font-weight: 500;
  color: #2196f3;
  margin-bottom: 0;
  margin-top: -5px;
}

.copyright {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/*responsive*/
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 20px 50px;
    z-index: 1000;
  }
  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0, 2);
  }

  .menu.active {
    left: 0;
  }
  header ul li a {
    color: #111;
    font-size: 24px;
    margin: 10px;
  }

  .toggle {
    width: 40px;
    height: 40px;
    background: url(https://cdn.glitch.com/f7a66cff-53ab-46a0-8393-24c2f614c87f%2Fhamburger%20me.svg?v=1608092126471);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }

  .toggle.active {
    background: url("https://cdn.glitch.com/f7a66cff-53ab-46a0-8393-24c2f614c87f%2Fcancelled%202.svg?v=1608093275655");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    cursor: pointer;
  }

  header.sticky .toggle {
    filter: invert(1);
  }

  section {
    padding: 100px 50px;
  }

  .landing {
    padding: 150px 100px 50px;
    background-size: cover;
  }

  .landing h2 {
    font-size: 2.5em;
  }

  .landing h3 {
    font-size: 1.5em;
  }

  .btn {
    margin-top: 8px;
    padding: 8px 16px;
    font-size: 14px;
  }

  .heading h2 {
    font-weight: 600;
    font-size: 24px;
  }

  .contenthd h3 {
    font-size: 20px;
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  .services .content .servicesHd {
    margin: 10px;
  }

  .work .content .workHd {
    width: 100%;
    padding: 10px;
  }

  .testimonial .content .testimonialHd {
    max-width: calc(100% -20px);
    padding: 60px 40px;
    margin: 10px;
    background: #2196f3;
  }

  .contactInfo {
    margin: 20px 0;
  }
}

@media (max-width: 600px) {
  header,
  header.sticky {
    padding: 20px 20px;
    z-index: 1000;
  }

  .landing {
    padding: 150px 20px 100px;
  }

  section {
    padding: 100px 20px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("https://cdn.glitch.com/745ae5d5-8886-448e-9ada-97e0c0814da2%2Fpexels-evie-shaffer-2923672.jpg?v=1606389128894");
  background-size: cover;
  background-position: left;
}

.sign-up-form {
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
}

.sign-up-form h1 {
  color: #000000;
  margin-bottom: 30px;
  font-size: 50px;
}

.input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}

button {
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.signup-btn {
  background-color: #1c8abd;
}
.facebook-btn {
  background-color: #21afde;
}
a {
  text-decoration: none;
}
hr {
  margin-top: 20px;
  width: 80%;
}
.or {
  background: #fff;
  width: 25px;
  margin: -19px auto 10px;
}

/*image gallery*/
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn1 {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: black;
  cursor: pointer;
}

.btn1:hover {
  background-color: #ddd;
}

.btn1.active {
  background-color: #666;
  color: white;
}
